body{
    background-image: url('https://garden.spoonflower.com/c/12445951/p/f/m/zb8NNYiMYvZXBYrhNhn8v5fCVtVC3shnprdoFv5mTrN5IXASLmYY54Zo8A/Rock%20Paper%20Scissors%20-%20green%20-%20fun%20games%20-%20LAD21.jpg');
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
}